* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ff7613;
	--text-color: #7a7878;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: black;
	color: white;
}

p {
	line-height: 2;
	color: var(--text-color);
}

li::marker {
	color: var(--primary-color);
}

hr {
	grid-column: 1 / -1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(37, 37, 37, 0.3);
}

img {
	width: 100%;
}

pre {
	max-width: 600px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 16px;
	overflow: auto;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: rgba(37, 37, 37, 0.4);
	border-radius: 5px;
}

code {
	display: inline;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: var(--primary-color);
	transition: color linear 0.4s;
}

a:not(:hover) {
	transition: color linear 0.4s;
}

.description {
	margin-top: 1.5rem;
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--text-color);
}

.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}

.sub_title {
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
}

/* ========== Layout ========== */

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	padding: 5rem;
	background: #070707;
}

@media only screen and (max-width: 1199px) {
	pre {
		max-width: 500px;
	}
}

@media only screen and (max-width: 991px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		gap: 7rem;
		padding: 3rem;
	}

	.code_example_inner {
		display: flex;
		flex-direction: column;
	}

	pre {
		width: 600px;
		justify-self: center;
		align-self: center;
	}
}

@media only screen and (max-width: 767px) {
	.header_container {
		flex-direction: column;
	}

	pre {
		max-width: 500px;
	}
}

@media only screen and (max-width: 575px) {
	.container {
		padding: 2rem;
	}
	pre {
		max-width: 320px;
	}
}

@media only screen and (max-width: 280px) {
	pre {
		max-width: 240px;
	}
}

.header {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}

.main,
.code_example {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

/* ========== Footer ========== */

.footer {
	max-width: 700px;
	width: 100%;
	margin: 0 auto 5rem;
	font-size: 1.5rem;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}

.footer > div {
	flex: 1;
	font-style: italic;
}

.footer > address {
	flex: 1;
	font-style: italic;
}

/* ========== Course ========== */

.course_logo {
	display: block;
	margin-top: 1.5rem;
	padding: 1rem;
	max-width: 200px;
	background-color: #353535;
	border-radius: 5px;
}

.course_logo:hover {
	background-color: var(--primary-color);
	transition: background-color linear 0.5s;
}

.course_logo:not(:hover) {
	transition: linear 0.5s;
}

.copyright {
	margin-top: 1.5rem;
	padding: 1rem;
}

@media only screen and (max-width: 768px) {
	.header {
		margin-bottom: 0;
	}
	.footer {
		flex-direction: column;
	}
}

/* ========== Header ========== */

.header_container {
	display: flex;
	gap: 2rem;
}

.header_profile_photo {
	max-width: 250px;
	border-radius: 5px;
}

.header_name_firstName {
	color: white;
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}

.header_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}

.header_title {
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
}

.git-hub-link:hover {
	color: var(--primary-color);
}

/* ========== Skills ========== */

.skill_list {
	margin-top: 1.5rem;
	margin-left: 2rem;
	line-height: 2;
}

.my-project_list {
	margin-top: 1.5rem;
	margin-left: 2rem;
	line-height: 2;
}

/* ========== Education and courses ========== */

.education_list {
	margin-top: 1.5rem;
	margin-left: 2rem;
	line-height: 2;
}

/* ========== Code example ========== */

.task_description {
	font-size: 1.6rem;
}

.social_item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	margin-top: 1.5rem;
	font-size: 1.5rem;
}
